<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{meta_title}} | AwfulMedia</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    <link href='https://fonts.googleapis.com/css?family=Droid+Serif%7COpen+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{asset "css/app.css"}}" >


    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <div class="container">
        <div class="row">
            <div class="col-md-4 brand">
                <a href="{{@blog.url}}"><img id="logo" src="{{@blog.logo}}" alt="AwfulMedia"/></a>
            </div>
            {{navigation}}
        </div>
        {{{body}}}
    </div>
    <footer class="container-fluid site-footer">
        <div class="row">
            <div class="container">
                <div id="mc_embed_signup" class="col-md-6">
                    <form action="//awfulmedia.us5.list-manage.com/subscribe/post?u=c89efb9b8217c071b845d27bc&amp;id=02bfa15d10" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
                        <label for="mce-EMAIL">Newsletter</label>
                        <div id="mc_embed_signup_scroll form-group">
                            <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_c89efb9b8217c071b845d27bc_02bfa15d10" tabindex="-1" value=""></div>
                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn">
                        </div>
                    </form>
                    <p>Get instant updates when I release new articles, videos, and assets</p>
                </div>
                <div class="copyright col-md-6">
                    &copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a><br>
                    Crafted with <a href="https://ghost.org">Ghost</a><br>Brought to you on <a href="http://www.digitalocean.com/">DigitalOcean</a>
                </div>
            </div>
        </div>
    </footer>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-68663046-1', 'auto');
        ga('send', 'pageview');

    </script>
{{ghost_foot}}
</body>
</html>

